.app-container__pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 285px;
}

.app-container__button {
  width: 75px;
  height: 40px;
  padding: 0;
  border: 0;
  background-color: rgb(162, 162, 162);
  border-radius: 25px;
  cursor: pointer;
}

.app-container__button:hover:enabled {
  scale: 1.1
}

.app-container__button:disabled {
  opacity: 10%;
  cursor: default;
}