.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
}

.app-container__header {
  margin: 0;
  font-size: 70px;
}

.app-container__buttons-container {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin-top: 25px;
}

.app-container__buttons-container_bottom {
  justify-content: center;
}

