.app-container__filters {
  display: flex;
  align-items: center;
  width: 210px;
  justify-content: space-evenly;
}

.app-container__sort-button {
  width: 45px;
  height: 45px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.app-container__sort-button:hover {
  scale: 1.1
}

.app-container__sort-button_up {
  background-image: url('../../images/arrow-to-top.svg');
}

.app-container__sort-button_bottom {
  background-image: url('../../images/arrow-to-down.svg');
}

.app-container__sort-text {
  font-size: 20px;
}